/* Index styling */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

body {
    padding: 0;
    margin: 0;

    height: 100%;

    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #212121;
    color: #ffffff;
}

#root {
    height: 100%;
}

